name: CD

on:
  workflow_run:
    workflows: ["CI"]
    branches: ["master", "main"]
    types:
      - completed

env:
  APP_NAME: "django-cookiecutter"
  COMPOSE_FILE: "production.yml"

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to DigitalOcean droplet via SSH action
        uses: appleboy/ssh-action@v1.2.5
        with:
          HOST: ${{ secrets.HOST }}
          USERNAME: ${{ secrets.USERNAME }}
          KEY: ${{ secrets.SSHKEY }}
          envs: APP_NAME,COMPOSE_FILE
          script: |
            cd $APP_NAME
            docker-compose -f $COMPOSE_FILE down
            git checkout master
            git pull origin master
            docker-compose -f $COMPOSE_FILE up --build -d

  setup:
    runs-on: ubuntu-latest
    needs: deploy
    steps:
      - name: Setup DB and static files
        uses: appleboy/ssh-action@v1.2.5
        with:
          HOST: ${{ secrets.HOST }}
          USERNAME: ${{ secrets.USERNAME }}
          KEY: ${{ secrets.SSHKEY }}
          envs: APP_NAME,COMPOSE_FILE
          script: |
            cd $APP_NAME
            docker-compose -f $COMPOSE_FILE run --rm django python manage.py migrate
            docker-compose -f $COMPOSE_FILE run --rm django python manage.py collectstatic
